* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: arial;
}
body {
  background-color: #0095c6;
  height: 100vh;
}
.container {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  border-radius: 20px;
  border: solid;
  border-width: 5px;
}

.main-box {
  background-color: #0095c6;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  border-radius: 20px;
  border: 5px solid;
}
h1,
i {
  margin-top: 10px;
  font-size: 20px;
}
.cel,
.fah {
  width: 45%;
  font-size: 10px;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 5px solid;
  outline: none;
  padding: 0 10px;
  margin-top: 5px;
  font-weight: bolder;
}
